@font-face {
    font-family: 'myriad-pro__bold';
    src: url('../fonts/MYRIADPRO-BOLD.woff');
}

@font-face {
    font-family: 'myriad-pro__semi-bold';
    src: url('../fonts/MYRIADPRO-SEMIBOLD.woff');
}

@font-face {
    font-family: 'myriad-pro__regular';
    src: url('../fonts/MYRIADPRO-REGULAR.woff');
}
