@charset "UTF-8";
/*variables [start]*/
/*variables [end]*/
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 50px;
}

.intro-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1175px;
  padding: 300px 50px 60px 50px;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-section__heading-wrapper {
  width: 610px;
}

.intro-section__appointment-part {
  -webkit-animation: zoom-in 1s ease;
          animation: zoom-in 1s ease;
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.intro-section__appointment-part p {
  width: 342px;
}

.intro-section__appointment-part__form-wrapper {
  width: 450px;
  height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e5bb8d;
  border-radius: 50px;
}

.intro-section__appointment-part__form-wrapper input[type="text"], .intro-section__appointment-part__form-wrapper input[type="email"] {
  height: 50px;
  width: 350px;
  margin-bottom: 10px;
  padding: 0 25px;
  border-radius: 30px;
  border: 1px transparent;
}

.intro-section__appointment-part__form-wrapper textarea {
  height: 200px;
  width: 350px;
  resize: none;
  margin-bottom: 10px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 1px transparent;
}

.intro-section__appointment-part__form-wrapper input[type="submit"] {
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 30px;
  border: 1px transparent;
}

.intro-section__appointment-part__form-wrapper input[type="submit"]:hover {
  background-color: #d3d3d3;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
}

.services-section__service-container__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-section__service-container__wrapper .services-section__service-container {
  height: 250px;
  width: 33%;
  padding-right: 75px;
}

.services-section__service-container__wrapper .services-section__service-container img {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.about-us-section {
  background-color: #f2f2f2;
}

.about-us-section .about-us-section__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about-us-section .about-us-section__tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.about-us-section .about-us-section__tabs__radio {
  display: none;
}

.about-us-section .about-us-section__tabs__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  display: none;
  background-color: #fff;
}

.about-us-section .about-us-section__tabs__content h3 {
  width: 800px;
}

.about-us-section .about-us-section__tabs__content h4 {
  width: 650px;
  color: #3a4998;
}

.about-us-section .about-us-section__tabs__content .p-650px {
  width: 650px;
}

.about-us-section .about-us-section__tabs__content .p-wide {
  width: 100%;
}

.about-us-section .about-us-section__tabs__content button:hover {
  background-color: #333f7d;
}

.about-us-section .about-us-section__tabs__radio:checked + .about-us-section__tabs__label {
  font-weight: bold;
  background-color: #3a4998;
  color: #fff;
}

.about-us-section .about-us-section__tabs__radio:checked + .about-us-section__tabs__label + .about-us-section__tabs__content {
  display: initial;
}

.build-section {
  background-color: #f2f2f2;
}

.build-section .build-section__product-wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build-section .build-section__product-wrapper img {
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
}

.build-section .build-section__product-wrapper img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.build-section button:hover {
  background-color: #f1d8be;
}

.partner-section {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partner-section .partner-section__left-wrapper {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner-section .partner-section__left-wrapper button {
  color: #000;
  letter-spacing: 5px;
}

.partner-section .partner-section__left-wrapper button:hover {
  color: #fff;
  background-color: #808080;
}

.partner-section .partner-section__right-wrapper {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner-section__right-wrapper__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.partner-section__right-wrapper__tabs__label {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3a4998;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}

.partner-section__right-wrapper__tabs__radio {
  display: none;
}

.partner-section__right-wrapper__tabs__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  display: none;
}

.partner-section__right-wrapper__tabs__content .partner-section__right-wrapper__tabs__content__list .partner-section__right-wrapper__tabs__content__list__element::before {
  content: "–";
}

.partner-section__right-wrapper__tabs__radio:checked + .partner-section__right-wrapper__tabs__label + .partner-section__right-wrapper__tabs__content {
  display: initial;
}

.consulting-section .consulting-section__text-wrapper {
  width: 800px;
}

.consulting-section .consulting-section__squares-wrapper {
  width: 820px;
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consulting-section .consulting-section__square {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300px;
  width: 400px;
  text-align: center;
}

.consulting-section .consulting-section__square-beige {
  background-color: #e5bb8d;
}

.consulting-section .consulting-section__square-blue {
  background-color: #3a4998;
}

.feedback-section {
  background-color: #f2f2f2;
}

.feedback-section .feedback-section__feedback-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-section .feedback-section__feedback-text {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 500px;
  width: 80%;
  padding: 150px 20px;
}

.feedback-section .feedback-section__feedback-right-part {
  background-color: #3a4998;
  height: 500px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.feedback-section .feedback-section__feedback-right-part object {
  margin: 0 auto;
}

.location-section .location-section__text-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 720px;
}

.location-section .location-section__text-wrapper hr {
  height: 10px;
  width: 198px;
  margin-left: 0;
  margin-right: auto;
  background-color: #e5bb8d;
  border: 1px transparent;
}

.location-section .location-section__text-wrapper p {
  width: 300px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  height: 143px;
}

.footer .footer__text {
  margin: 0 auto;
  text-align: center;
  width: 417px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */