.left-yellow-strip
{
    background-color: #ffca05;
    width: 4%;
}

.yellow-line-in-text
{
    color: #ffca05;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 20px;
    margin: 0px;
}

header
{
    display: flex;
    justify-content: row;
    width: 100%;
    height: 55vh;
    min-height: 350px;
}

header>img
{
    max-width: 40%;
    width: 21%;
    height: 55vh;
    min-height: 350px;
}

.header-text-wrapper
{
    margin-left: 3%;
    padding-top: 100px;
    padding-bottom: 125px;
    font-family: 'bbook';
    letter-spacing: 5px;
    font-style: normal;
    font-size: 25px;
}

.header-text-wrapper>h1
{
    font-weight: bold;
    margin: 0;
}

.header-text-wrapper>h1#h1-2
{
   font-family: 'bbold';
}

.header-text-wrapper>h3
{
    font-size: 20px;
}

main
{
    display: flex;
    justify-content: row;
    width: 100%;
    font-family: 'plight';
    font-size: 13px;
}

.main-h2
{
    font-family: 'bbold';
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.left-section-main
{
    background-color: #292934;
    color: white;
    max-width: 40%;
    width: 21%;
}

.about-me-part
{
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 10%;
}

.about-me-part>p
{
    letter-spacing: 2px;
}

.right-section-main
{
    background-color: #22222d;
    color: white;
    width: 75%;
}

.education-part
{
    padding-left: 4%;
    padding-top: 20px;
    margin-bottom: 75px;
}

.education-part-additional
{
    display: flex;
    justify-content: row;
}

.major
{
    padding-right: 4%;
}

.experience-part
{
    margin-bottom: 75px;
}

.job-position
{
    padding-left: 4%;
}

.job-time
{
    color: #000;
    background-color: #ffca05;
    border: 1px solid transparent #fff;
    border-radius: 10%;
    margin: 5px 5px 5px 0;
    padding: 5px;
    font-weight: bold;
}

.expertice-section
{
    padding-left: 4%;
}

.contact-info-part
{
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 10%;
}

.hobbies-part
{
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 10%;
}

.hobbies-additional
{
    display: flex;
    justify-content: row;
}

.hobbies-element-wrapper
{
    width: 100%;
    text-align: center;
}

.hobbies-element-wrapper>img
{
    width: 30px;
}

/*progress bars (code from the internet)*/
.progressbar-wrapper
{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  div[role="progressbar"] {
    --size: 12rem;
    --fg: #ffca05;
    --bg: white;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, #22222d 80%, transparent 0 99.9%, #22222d 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family:'plight';
    font-size: 10px;
    color: white;
  }
  
  div[role="progressbar"]
  {
    text-align: center;  
  }
