/* FONTS START */
.fnt-ubuntu-reg
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.fnt-open-s-thin
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.fnt-open-s-reg
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.fnt-montserrat-reg
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.fnt-style-italic
{
    font-style: italic;
}

/* FONTS END */

/* TEXT COLOR START */
.txt-clr-white
{
    color: #fff;
}

.txt-clr-grey
{
    color: #4d4d4d;
}
/* TEXT COLOR END */

/* MARGIN/PADDING START */
.ml-150
{
    margin-left: 150px;
}
.mr-150
{
    margin-right: 150px;
}
.mt-200
{
    margin-top: 200px;
}
.mb-30
{
    margin-bottom: 30px;
}
.mt-50
{
    margin-top: 50px;
}
.pad-85-35
{
    padding: 85px 35px;
}
.pad-25
{
    padding: 25px;
}
.pad-80
{
    padding: 80px;
}
.mar-80-80
{
    margin: 80px 80px;
}
/* MARGIN/PADDING END */

/* BUTTON START */
.button
{
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-14
{
    font-size: 14px;
    width: 160px;
}

.btn-16
{
    font-size: 16px;
    width: 234px;
}

.btn-16-2
{
    font-size: 16px;
    width: 150px;
}

.btn-white
{
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-white:hover
{
    background-color: #fff;
    color: #000;
}

.btn-blue
{
    background-color: #3a4998;
    border: 1px solid #3a4998;

}
.btn-blue:hover
{
    background-color: #333;
}

/* BUTTON END */

/* CARD START */
.card
{
    box-sizing: border-box;
}

.card-white
{
    background-color: #fff;
    border: 1px solid #f2f2f2;
}

.card-grey
{
    background-color: #f2f2f2;
}

.card-small
{
    width: 474px;
    height: 428px;
}

.card-big
{
    width: 527px;
    height: 478px;
}

.card-wide
{
    width: 600px;
    height: 190px;
    margin-bottom: 20px;

}

.heading-36
{
    font-size: 36px;
}

.card__text
{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

/* CARD END */

/* HEADING START */
.heading-bold
{
    font-weight: bold;
}

.heading-regular
{
    font-weight: 400;
}
/* HEADING END */

.form-el
{
    background-color: #f2f2f2;
    color: #111111;
    border: transparent;
}